pipeline/16 - Until_Activity_PipeLine.json
{
	"name": "16 - Until_Activity_PipeLine",
	"properties": {
		"activities": [
			{
				"name": "Until_Activity",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('FileAvailable'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata_CheckFile",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Source_If_ActivityDataset",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata_CheckFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(activity('Get Metadata_CheckFile').output.exists)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait_Activity",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 12
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable_File_Available",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileAvailable",
											"value": "true\n"
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Execute Pipeline_Activity",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Until_Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01-DemoAzureDataFacory",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"FileAvailable": {
				"type": "String",
				"defaultValue": "false"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-01-01T12:15:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}